!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title Modularity Lab
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :css
      body {
        padding-top: 60px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"stylesheets/styles.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"stylesheets/bootstrap.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{ :href=>"index.html" } Modularity Lab - Luminis Technologies
    .container-fluid    
      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list
              %li 
                %a{ :href=>"index.html"}Part 1 - OSGi basics
              %li 
                %a{ :href=>"mongo.html"}Part 2 - Using MongoDB
              %li 
                %a{ :href=>"webapp.html"}Part 3 - Building webapps
              %li 
                %a{ :href=>"apache-ace.html"}Part 4 - Cloud deployment
              %li 
                %a{ :href=>"optional.html"}Part 5 - Extra components
              %li 
                %a{ :href=>"links.html"}Links
              
        .span9
          ~ content
      %hr
      %footer
        %p 
          &copy; 
          %a{ :href=>"http://luminis-technologies.com/"}Luminis Technologies 
          #{Date.today.year}
        
    -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap.js" }
